# Exercise 1

In [66]:
%matplotlib inline
import pandas as pd

In [3]:
# from IPython.core.display import HTML
# css=open('style-table.css').read()+open('style-notebook.css').read()
# HTML('<style>{}</style>'.format(css))

In [7]:
titles=pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# How many movies are listed in the titles dataframe?

In [23]:
len(titles['title'])

244914

In [24]:
# titles

# What are the earliest two films listed in the titles dataframe?

In [26]:
titles.sort_values('year')[:2]

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# How many movies have the title "Hamlet"?

In [33]:
# titles['title']=='%Hamlet'
titles[titles['title'] == 'Hamlet']['title'].count()

20

# How many movies are titled "North by Northwest"?

In [36]:
titles[titles['title'] == 'North by Northwest']['title'].count()

1

# When was the first movie titled "Hamlet" made?

In [42]:
titles[titles['title'] == 'Hamlet']['year'].min()

1910

# List all of the "Treasure Island" movies from earliest to most recent.

In [50]:
titles[titles['title'] == 'Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# How many movies were made in the year 1950?

In [54]:
titles[titles['year']==1950]['title'].count()

1113

# How many movies were made in the year 1960?

In [55]:
titles[titles['year']==1960]['title'].count()

1549

# How many movies were made from 1950 through 1959?

In [60]:
titles[(titles['year']>=1950) & (titles['year']<=1959)]['title'].count()

12934

# In what years has a movie titled "Batman" been released?

In [65]:
r=titles[titles['title']=="Batman"]['year'].unique()
print(r)

[1943 1989]

# How many roles were there in the movie "Inception"?

In [67]:
vs=pd.read_csv('cast.csv')
vs.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [69]:
vs[vs["title"]=='Inception']["character"].nunique()

56

# How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [73]:
vs[(vs["title"]=='Inception') & (vs["n"].isna())]['character'].nunique()

21

# But how many roles in the movie "Inception" did receive an "n" value?

In [74]:
vs[(vs["title"]=='Inception') & (~vs["n"].isna())]['character'].nunique()

36

# Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value

In [79]:
vs[(vs["title"]=='North by Northwest') & (vs['n'].notna())].sort_values('n')

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

# Display the entire cast, in "n-order, of the 1972 film "Sleuth"

In [82]:
vs[(vs["title"]=='Sleuth') & (vs['year']==1972)].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

# Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [83]:
vs[(vs["title"]=='Sleuth') & (vs['year']==2007)].sort_values('n')

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

# How many roles were credited in the silent 1921 version of Hamlet?

In [84]:
vs[(vs['title']=='Hamlet')  & (vs['year']==1921)]['character'].nunique()

9

# How many roles were credited in Branagh's 1996 Hamlet?

In [89]:
vs[(vs['title']=='Hamlet') & (vs['year']==1996)]['character'].nunique()

49

# How many "Hamlet" roles have been listed in all film credits through history?

In [90]:
vs[vs['title']=='Hamlet']['character'].nunique()

112

# How many people have played an "Ophelia"?

In [94]:
vs[vs['character']=='Ophelia']['name'].nunique()

115

# How many people have played a role called "The Dude"?

In [95]:
vs[vs['character']=='The Dude']['name'].nunique()

19

# How many people have played a role called "The Stranger"?

In [96]:
vs[vs['character']=='The Stranger']['name'].nunique()

202

# How many roles has Sidney Poitier played throughout his career?

In [98]:
vs[vs['name']=='Sidney Poitier']['character'].nunique()

41

# How many roles has Judi Dench played?

In [99]:
vs[vs['name']=='Judi Dench']['character'].nunique()

46

# List the supporting roles (having n=2) played by Cary Grant in the 1940s, In order by year.

In [103]:
vs[(vs['name']=='Cary Grant') & (vs['n']==2) & (vs['year'].between(1940,1949))].sort_values('year')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

# List the leading roles that Cary Grant played in the 1940s in order by year.

In [105]:
vs[(vs['name']=='Cary Grant') & (vs['n']==1) & (vs['year'].between(1940,1949))].sort_values('year')

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

# How many roles were available for actors in the 1950s?

In [106]:
vs[vs['year'].between(1950,1959)]['character'].nunique()

128233

# How many roles were available for actresses in the 1950s?

In [108]:
vs[(vs['type']=='actress') &(vs['year'].between(1950,1959))]['character'].nunique()

36266

# How many leading roles (n=1) were available from the beginning of film history through 1980?

In [110]:
vs[(vs['n']==1) &(vs['year'].between((vs['year'].min()),1980))]['character'].nunique()

52152

# How many non leading roles were available through from the beginning of film history through 1900

In [113]:
vs[(vs['n']!=1) &(vs['year'].between((vs['year'].min()),1900))]['character'].nunique()

4

# How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [118]:
vs[(vs['n'].isna()) &(vs['year']<=1980)]['character'].nunique()

190694