# 1. Module Import and Management

Scenario: You are developing a complex Python project with multiple modules. To manage the project effectively, you need to import and use various modules. Additionally, you want to organize your code using namespaces and avoid naming conflicts.

Design a Python program that demonstrates the following:

        1. Import multiple modules within your project.

        2. Use the import statement to access functions, classes, and variables from imported modules.

        3. Create your custom module and use it in your main program.

        4. Handle naming conflicts and ensure proper namespacing.
        
        5. Implement error handling for missing modules or incorrect module usage.

In [82]:
### THis is my module"vamsmodule.py"

import math as m   # Handle naming conflicts and ensure proper namespacing.
import numpy as n    #Import multiple modules within your project.
import datetime as d

def l():
    l="1,2,3,4,5,6,9,7"
    v1=l.split(",")
    v=[float(x) for x in v1]
    print(f"[{l}] mean {n.mean(v)}")
    return 
def t():
    print(' ')
    return d.datetime.now()
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def swap(a,b):
    a,b=b,a
    return a,b
def power(a,b):
    return int(m.pow(a,b))


# l()
# print(t())  
# print(swap(5,6))
# print(sub(10,5))
# print(add(2,7))
# print(power(2,3))

In [92]:
def example():
    try:  #5. Implement error handling for missing modules or incorrect module usage.

        import vamsmodule as v #Create your custom module and use it in your main program.

        print(v.add(5,6))     #Use the import statement to access functions, classes, and variables from imported modules.
        print(v.sub(10,5))
        print(v.t())
        print(v.l())
    except Exception as e:
        print("Error : ",e)
if __name__=="__main__":
    example()

11
5

2023-09-15 17:50:07.683892
[1,2,3,4,5,6,9,7] mean 4.625
None

# 2. Virtual Environment Management

Scenario: You are working on multiple Python projects with different dependencies and versions. To avoid conflicts and ensure project isolation, you decide to use virtual environments.

Create a Python program that demonstrates the following:

        1. Create a virtual environment for a specific project.

        2. Activate and deactivate virtual environments.

        3. Install, upgrade, and uninstall packages within a virtual environment.

        4. List the installed packages in a virtual environment.

        5. Implement error handling for virtual environment operations.

In [98]:
import subprocess
import sys

def create_virtual_environment(env_name):
    try:
        subprocess.run(["conda", "create", "--name", env_name, "python=3.8", "-y"], check=True)
        print(f"Created virtual environment '{env_name}' successfully.")
    except subprocess.CalledProcessError:
        print(f"Error creating virtual environment '{env_name}'.")

def activate_virtual_environment(env_name):
    try:
        subprocess.run(["conda", "activate", env_name], shell=True, check=True)
        print(f"Activated virtual environment '{env_name}'.")
    except subprocess.CalledProcessError:
        print(f"Error activating virtual environment '{env_name}'.")

def deactivate_virtual_environment():
    try:
        subprocess.run(["conda", "deactivate"], shell=True, check=True)
        print("Deactivated virtual environment.")
    except subprocess.CalledProcessError:
        print("Error deactivating virtual environment.")

def install_package(env_name, package):
    try:
        subprocess.run(["conda", "install", "-n", env_name, package, "-y"], check=True)
        print(f"Installed '{package}' in '{env_name}' environment.")
    except subprocess.CalledProcessError:
        print(f"Error installing '{package}' in '{env_name}' environment.")

def upgrade_package(env_name, package):
    try:
        subprocess.run(["conda", "install", "-n", env_name, "--update-deps", package, "-y"], check=True)
        print(f"Upgraded '{package}' in '{env_name}' environment.")
    except subprocess.CalledProcessError:
        print(f"Error upgrading '{package}' in '{env_name}' environment.")

def uninstall_package(env_name, package):
    try:
        subprocess.run(["conda", "uninstall", "-n", env_name, package, "--yes"], check=True)
        print(f"Uninstalled '{package}' from '{env_name}' environment.")
    except subprocess.CalledProcessError:
        print(f"Error uninstalling '{package}' from '{env_name}' environment.")

def list_installed_packages(env_name):
    try:
        result = subprocess.run(["conda", "list", "-n", env_name], stdout=subprocess.PIPE, text=True, check=True)
        print(f"Installed packages in '{env_name}':\n{result.stdout}")
    except subprocess.CalledProcessError:
        print(f"Error listing packages in '{env_name}' environment.")

if __name__ == "__main__":
    while True:
        print("\nOptions:")
        print("1. Create a virtual environment")
        print("2. Activate a virtual environment")
        print("3. Deactivate the current virtual environment")
        print("4. Install a package")
        print("5. Upgrade a package")
        print("6. Uninstall a package")
        print("7. List installed packages")
        print("8. Exit")

        choice = input("Select an option: ")

        if choice == "1":
            env_name = input("Enter the name of the virtual environment: ")
            create_virtual_environment(env_name)
        elif choice == "2":
            env_name = input("Enter the name of the virtual environment: ")
            activate_virtual_environment(env_name)
        elif choice == "3":
            deactivate_virtual_environment()
        elif choice == "4":
            env_name = input("Enter the name of the virtual environment: ")
            package = input("Enter the name of the package to install: ")
            install_package(env_name, package)
        elif choice == "5":
            env_name = input("Enter the name of the virtual environment: ")
            package = input("Enter the name of the package to upgrade: ")
            upgrade_package(env_name, package)
        elif choice == "6":
            env_name = input("Enter the name of the virtual environment: ")
            package = input("Enter the name of the package to uninstall: ")
            uninstall_package(env_name, package)
        elif choice == "7":
            env_name = input("Enter the name of the virtual environment: ")
            list_installed_packages(env_name)
        elif choice == "8":
            print("Exit successful")
            break
        else:
            print("Invalid choice. Please select a valid option.")

Options:
1. Create a virtual environment
2. Activate a virtual environment
3. Deactivate the current virtual environment
4. Install a package
5. Upgrade a package
6. Uninstall a package
7. List installed packages
8. Exit
Select an option: 8
Exit successful

# 3. Module Dependency Resolution

Scenario: You are developing a Python application that relies on third-party packages. Managing dependencies and ensuring compatibility is crucial for your project's success.

Design a Python program that demonstrates the following:

        1. Use a requirements.txt file to specify project dependencies.

        2. Automatically install all project dependencies from the requirements.txt file.
        
        3. Ensure that the versions of installed packages are compatible.

In [4]:
import subprocess
import pkg_resources

def install_dependencies():
    try:
        # Read the dependencies from requirements.txt
        with open('requirements.txt', 'r') as requirements_file:
            dependencies = [line.strip() for line in requirements_file]

        # Install dependencies using pip
        for dependency in dependencies:
            subprocess.run(['pip', 'install', dependency])

        print("Dependencies installed successfully.")
    except Exception as e:
        print(f"Error installing dependencies: {str(e)}")

def check_compatibility():
    try:
        # Check compatibility of installed packages
        for requirement in pkg_resources.parse_requirements(open('requirements.txt')):
            installed_version = pkg_resources.get_distribution(requirement.name).version
            if requirement.specifier.contains(installed_version):
                print(f"{requirement.name} {installed_version} is compatible.")
            else:
                print(f"WARNING: {requirement.name} {installed_version} is not compatible with the specified constraints.")

    except Exception as e:
        print(f"Error checking compatibility: {str(e)}")

if __name__ == "__main__":
    install_dependencies()
    check_compatibility()

Dependencies installed successfully.
requests 2.31.0 is compatible.
numpy 1.25.2 is compatible.
pandas 2.1.0 is compatible.

# Database programming with MySQL:

1. Implement Inventory Management in Python with MySQL

        a) Inventory management, a critical element of the supply chain, is the tracking of inventory from manufacturers
           to warehouses and from these facilities to a point of sale. The goal of inventory management is to have the 
           right products in the right place at the right time.

        b) The required Database is Inventory, and the required Tables are Purchases, Sales and Inventory

        c) Note: Apply your thoughts to demonstrate the DB Operation in Python.

In [40]:
import mysql.connector

con=mysql.connector.connect(user = 'root',
                            password='Nalluri@19',
                            host ='127.0.0.1',
                            database ='Inventory'
                           )
print(con)
curs=con.cursor()

<mysql.connector.connection.MySQLConnection object at 0x0000011725EA7890>

In [17]:
pur=("create table purchases (pro_id int primary key,pro_desc varchar(200),pro_quantity int)")
sale=("create table sales (sales_id int primary key,pro_id int,cust_id int ,sale_qunatity int, foreign key (pro_id) references purchases(pro_id))")
inv=("create table inventory (pro_id int primary key,pro_name varchar(50),quantity int,category varchar(50), foreign key (pro_id) references purchases(pro_id))")
curs.execute(pur)
curs.execute(sale)
curs.execute(inv)

In [41]:
curs.execute("show tables")
for i in curs:
    print(i)

('cus_ord_dtls',)
('customers',)
('inventory',)
('orders',)
('products',)
('purchases',)
('sales',)
('tab',)

In [19]:
v=("insert into purchases values(1,'Its about electronics related',5)")
curs.execute(v)
con.commit()
print(curs.rowcount,"row(S) inserted")

1 row(S) inserted

In [23]:
mul=("insert into sales (pro_id,pro_desc,pro_quantity) values (%s,%s,%s)")
d=[(2,'Its about clothes',15),
   (3,'its about steel',55),
   (15,'Its about iron',66), 
]
curs.executemany(mul,d)

con.commit()
print(curs.rowcount,"row(S) inserted")

3 row(S) inserted

In [25]:
v=("insert into sales values(7,1,201,5)")
curs.execute(v)
con.commit()
print(curs.rowcount,"row(S) inserted via single insertion")


mul=("insert into sales (sales_id,pro_id,cust_id,sale_qunatity) values (%s,%s,%s,%s)")
d=[(1,2,202,15),
   (3,3,205,55),
   (5,15,204,66), 
]
curs.executemany(mul,d)

con.commit()
print(curs.rowcount,"row(S) inserted via multiple insertion")

1 row(S) inserted via single insertion
3 row(S) inserted via multiple insertion

In [18]:
v=("insert into inventory values(1,'watch',10,'electorinics')")
curs.execute(v)
con.commit()
print(curs.rowcount,"row(S) inserted via single insertion")


mul=("insert into inventory (pro_id,pro_name,quantity,category) values (%s,%s,%s,%s)")
d=[(2,'Dress',10,'clothe'),
   (3,'glass',25,'material'),
   (15,'Bolt',18,'material'), 
]
curs.executemany(mul,d)

con.commit()
print(curs.rowcount,"row(S) inserted via multiple insertion")

1 row(S) inserted via single insertion
3 row(S) inserted via multiple insertion

In [30]:
curs.execute("select * from inventory")
c=curs.fetchall()
for i in c:
    print(i)

(1, 'watch', 10, 'electorinics')
(2, 'Dress', 10, 'clothe')
(3, 'glass', 25, 'material')
(15, 'Bolt', 18, 'material')

In [32]:
curs.execute("select * from purchases")
c=curs.fetchall()
for i in c:
    print(i)

(1, 'Its about electronics related', 5)
(2, 'Its about clothes', 15)
(3, 'its about steel', 55)
(15, 'Its about iron', 66)

In [33]:
curs.execute("select * from sales")
c=curs.fetchall()
for i in c:
    print(i)

(1, 2, 202, 15)
(3, 3, 205, 55)
(5, 15, 204, 66)
(7, 1, 201, 5)

In [12]:
curs.execute("select * from inventory order by pro_id desc")
c=curs.fetchall()
for i in c:
    print(i)

(15, 'Bolt', 18, 'material')
(3, 'glass', 25, 'material')
(2, 'Dress', 10, 'clothe')
(1, 'watch', 10, 'electorinics')

In [19]:
curs.execute("delete from inventory where pro_id=1")
con.commit()
print(curs.rowcount,"row(S) deleted.")

1 row(S) deleted.

# 2. Customer Order Processing

Scenario: You are building a customer order processing system for an e-commerce company. The system needs to Interact with a MySQL database to store customer orders, products, and order details.

        1. Design a MySQL database schema for the order processing system, including tables for customers, products,
           and orders.

        2. Write a Python program that connects to the database and allows customers to place new orders.

        3. Implement a feature that calculates the total cost of an order and updates product quantities in the database.

        4. How would you handle cases where a product is no longer available when a customer places an order?

        5. Develop a function to generate order reports for the company's finance department.

In [46]:
cus=("create table customers (Customer_Id int primary key,Name varchar(50),Email varchar(50),Phone_No int,Address varchar(300))")
pro=("create table products (product_id int primary key,Customer_Id int,product_name varchar(50),product_details varchar(100),Price int,Stock int,foreign key(Customer_Id) references customers(Customer_Id))")
ord=("create table orders (order_Id int primary key,Customer_Id int,Status varchar(50),Total_amount int,foreign key(Customer_Id) references customers(Customer_Id))")
cod=("create table cus_ord_dtls (Details_ID int,product_id int,order_Id int,Req_Qnty int,Sub_Total_amount int,foreign key(order_Id) references orders(order_Id),foreign key(product_id) references products(product_id))")
curs.execute(cus)
curs.execute(pro)
curs.execute(ord)
curs.execute(cod)

In [44]:
curs.execute("show tables")
for i in curs:
    print(i)

('cus_ord_dtls',)
('customers',)
('inventory',)
('orders',)
('products',)
('purchases',)
('sales',)
('tab',)

In [ ]:
insert_customer = "INSERT INTO customers (Customer_Id, Name, Email, Phone_No, Address) VALUES (%s, %s, %s, %s, %s)"
customer_data = (1, 'John Doe', 'john@example.com', 1234567890, '123 Main St, City')
curs.execute(insert_customer, customer_data)
insert_product = "INSERT INTO products (product_id, Customer_Id, product_name, product_details, Price, Stock) VALUES (%s, %s, %s, %s, %s, %s)"
product_data = (101, 1, 'Product 1', 'Product 1 details', 50, 100)
curs.execute(insert_product, product_data)
insert_order = "INSERT INTO orders (order_Id, Customer_Id, Status, Total_amount) VALUES (%s, %s, %s, %s)"
order_data = (1, 1, 'Pending', 100)
curs.execute(insert_order, order_data)
insert_order_details = "INSERT INTO cus_ord_dtls (Details_ID, product_id, order_Id, Req_Qnty, Sub_Total_amount) VALUES (%s, %s, %s, %s, %s)"
order_details_data = (1, 101, 1, 2, 100)
curs.execute(insert_order_details, order_details_data)
con.commit()

In [32]:
import mysql.connector
def place(customer_id, product_id, quantity, con, curs):
    try:
        curs.execute("SELECT Stock, Price FROM products WHERE product_id = %s", (product_id,))
        result = curs.fetchone()
        if result:
            stock, price = result
            if stock >= quantity:
                total_amount = price * quantity
                
                curs.execute("INSERT INTO orders (Customer_Id, Status, Total_amount) VALUES (%s, %s, %s)",
                               (customer_id, 'Pending', total_amount))
                order_id = curs.lastrowid
                
                curs.execute("UPDATE products SET Stock = Stock - %s WHERE product_id = %s", (quantity, product_id))
                
                curs.execute("INSERT INTO cus_ord_dtls (Details_ID, product_id, order_Id, Req_Qnty, Sub_Total_amount) VALUES (%s, %s, %s, %s, %s)",
                               (None, product_id, order_id, quantity, total_amount))
                
                con.commit()
                print("Order placed successfully!")
            else:
                print("Insufficient stock for this product.")
        else:
            print("Product not found.")
        
    except mysql.connector.Error as err:
        print(f"Error: {err}")

def gen(con, curs):
    try:
        curs.execute("SELECT o.order_Id, c.Name, o.Status, o.Total_amount FROM orders o JOIN customers c ON o.Customer_Id = c.Customer_Id")
        orders = curs.fetchall()
        print("Order Report:")
        print("Order_ID | Customer Name | Status   | Total Amount")
        for order in orders:
            print(f"{order[0]:<9} | {order[1]:<13} | {order[2]:<8} | ${order[3]:.2f}")

    except mysql.connector.Error as err:
        print(f"Error: {err}")

        
place(3, 204, 2, con, curs)  
gen(con, curs)

Product not found.
Order Report:
Order_ID | Customer Name | Status   | Total Amount
1         | John Doe      | Pending  | $100.00

In [33]:
curs.execute("select * from products")
c=curs.fetchall()
for i in c:
    print(i)

(101, 1, 'Product 1', 'Product 1 details', 50, 100)

# 3.You are tasked with developing a Python program that connects to a MySQL database, retrieves data from a table, performs some operations on the data, and updates the database with the modified data. Please write Python code to accomplish this task.

Instructions:

    1. Assume that you have a MySQL database server running with the following details:

            1. Host: localhost

            ii. Port: 3306

            iii. Username: your username

            iv. Password: your password

            v. Database Name: your database

            vi. Table Name: your_table

            vii. The table has the following columns: id (int), name (varchar),quantity (int).

    2. Your Python program should:

        i. Connect to the MySQL database.

        ii. Retrieve all records from the your table table. 
        
        iii. Calculate the total quantity of all records retrieved.

        iv. Update the quantity column of each record by doubling its value.

        v. Commit the changes to the database.

        vi. Close the database connection.

    3. Handle any potential errors that may occur during the database connection and data manipulation, such as connection failures or SQL errors.
    
    4. Provide comments in your code to explain each step.

In [87]:
import mysql.connector

con=mysql.connector.connect(user = 'root',
                            password='Nalluri@19',
                            host ='127.0.0.1',
                            database ='Inventory'
                           )
print(con)
curs=con.cursor()

<mysql.connector.connection.MySQLConnection object at 0x00000117261135D0>

In [48]:
s=("create table Tab (id int,name varchar(50),quantity int)")
curs.execute(s)

In [42]:
curs.execute("show tables")
for i in curs:
    print(i)

('cus_ord_dtls',)
('customers',)
('inventory',)
('orders',)
('products',)
('purchases',)
('sales',)
('tab',)

In [83]:
s=("insert into Tab (id,name,quantity) values (%s,%s,%s) ")
v=[(1,'vamsi',10),
   (2,'krish',12),
   (3,'nalluri',5)
  ]
curs.executemany(s,v)
con.commit()
print(curs.rowcount,"row(S) inserted via multiple insertion")

3 row(S) inserted via multiple insertion

In [84]:
curs.execute("select * from tab ")
r=curs.fetchall()
for i in r:
    print(i)

(1, 'vamsi', 10)
(2, 'krish', 12)
(3, 'nalluri', 5)

# In the below program i used quetion number as comments

In [86]:



import mysql.connector
from mysql.connector import Error

try:# the below line shows 3.1. i) to vii)
    con = mysql.connector.connect(user = 'root',
                                         password='Nalluri@19',
                                         host ='127.0.0.1',
                                         database ='Inventory')

    if con.is_connected():
        print("Connected to MySQL database")
        curs = con.cursor()   #3.2. i)

        try:
            curs.execute("SELECT * FROM tab")    #3.2. ii)
            r = curs.fetchall()
            tq = sum(i[2] for i in r)   #3.2. iii)
            for j in r:
                newq = j[2] * 2   #3.2. iv)
                curs.execute("UPDATE tab SET quantity = %s WHERE id = %s", (newq, j[0]))
            con.commit()   #3.2. v)
            print(f"Total quantity before doubling: {tq}")
            print("Quantity of all records doubled and updated in the database")
        except Error as e:
            print(f"Error during data manipulation: {e}")
        finally:
            curs.close()
            con.close()   #3.2. vi)
            print("Database connection closed")
except Error as e:    #3.3
    print(f"Error connecting to MySQL database: {e}")

Connected to MySQL database
Total quantity before doubling: 27
Quantity of all records doubled and updated in the database
Database connection closed

In [88]:
curs = con.cursor()
curs.execute("select * from tab ")
r=curs.fetchall()
for i in r:
    print(i)

(1, 'vamsi', 20)
(2, 'krish', 24)
(3, 'nalluri', 10)

# 4. You are developing an employee management system for a company. The database should store employee information, including name, salary, department, and hire date. Managers should be able to view and update employee details.

    1. Design the database schema for the employee management system.

    2. Write Python code to connect to the database and retrieve a list of employees in a specific department.

    3. Implement a feature to update an employee's salary.

In [147]:
#  1. Design the database schema for the employee management system.
import mysql.connector

con=mysql.connector.connect(user = 'root',
                            password='Nalluri@19',
                            host ='127.0.0.1',
                            database ='EMS'   #1. Design the database schema for the employee management system.
                           )
print(con)
curs=con.cursor()

<mysql.connector.connection.MySQLConnection object at 0x0000011726C90CD0>

In [133]:
d=("create table departments(dep_id int primary key,emp_id int,dep_Name varchar(50))")
e=("create table employees(emp_id int primary key,name varchar(50),salary int,dep_id int,hire_date date,foreign key (dep_id) references departments(dep_id))")
curs.execute(d)
curs.execute(e)

In [134]:
curs.execute("show tables")
for i in curs:
    print(i)

('departments',)
('employees',)

In [136]:
s=("insert into departments(dep_id,emp_id,dep_name) values (%s,%s,%s) ")
v=[(101,1,'it'),
   (104,2,'cse'),
   (107,3,'ece')
  ]
curs.executemany(s,v)
con.commit()
print(curs.rowcount,"row(S) inserted via multiple insertion")

3 row(S) inserted via multiple insertion

In [137]:
s=("insert into employees(emp_id,name,salary,dep_id,hire_date) values (%s,%s,%s,%s,%s) ")
v=[(1,'vamsi',10000,101,'2023-09-8'),
   (2,'krish',12000,104,'2022-02-12'),
   (3,'nalluri',50000,107,'2022-04-14')
  ]
curs.executemany(s,v)
con.commit()
print(curs.rowcount,"row(S) inserted via multiple insertion")

3 row(S) inserted via multiple insertion

In [144]:
# curs = con.cursor()
curs.execute("select * from employees ")
r=curs.fetchall()
for i in r:
    print(i)

(1, 'vamsi', 10000, 101, datetime.date(2023, 9, 8))
(2, 'krish', 12000, 104, datetime.date(2022, 2, 12))
(3, 'nalluri', 50000, 107, datetime.date(2022, 4, 14))

In [142]:
# 2. Write Python code to connect to the database and retrieve a list of employees in a specific department.
curs.execute("select * from employees as e join departments d on e.emp_id=d.emp_id where e.dep_id=104")
for i in curs:
    print(i)

(2, 'krish', 12000, 104, datetime.date(2022, 2, 12), 104, 2, 'cse')

In [115]:
# curs.execute("delete from employees")
# con.commit()
# print(curs.rowcount,"row(S) deleted.")

3 row(S) deleted.

In [145]:
#  3. Implement a feature to update an employee's salary.

curs.execute("update employees set salary=15000 where emp_id=1")
con.commit()
print(curs.rowcount,"row updated successfully")

1 row updated successfully

In [146]:
curs.execute("select * from employees ")
r=curs.fetchall()
for i in r:
    print(i)

(1, 'vamsi', 15000, 101, datetime.date(2023, 9, 8))
(2, 'krish', 12000, 104, datetime.date(2022, 2, 12))
(3, 'nalluri', 50000, 107, datetime.date(2022, 4, 14))