# 1.Manipulate using a list.
i)To add new elements to the end of the list

ii)To reverse elements in the list

iii)To display the same list of elements multiple times.

iv) To concatenate two list

v) To sort the elements in the list in ascending order

In [2]:
v=[5,2,1,4,7,8]

In [6]:
#i)To add new elements to the end of the list

print(v.append(55))#to add only one element at a time
print(v.extend([23,25]))#to add multiple elements at a time

In [7]:
v

[5, 2, 1, 4, 7, 8, 55, 23, 25]

In [11]:
#ii)To reverse elements in the list
v.reverse()#function that is used to reverse a list.
print("reversed list:",v)

reversed list: [25, 23, 55, 8, 7, 4, 1, 2, 5]

In [16]:
#iii)To display the same list of elements multiple times.

print(v*5) #here i used 5 as no of times that i want to print.

 [25, 23, 55, 8, 7, 4, 1, 2, 5, 25, 23, 55, 8, 7, 4, 1, 2, 5, 25, 23, 55, 8, 7, 4, 1, 2, 5, 25, 23, 55, 8, 7, 4, 1, 2, 5, 25, 23, 55, 8, 7, 4, 1, 2, 5]

In [21]:
#iv) To concatenate two list
a=['krishna',15,1,81,45,56,'vamsi']
m=v+a #concatination using "+".
print(m)

[25, 23, 55, 8, 7, 4, 1, 2, 5, 'krishna', 15, 1, 81, 45, 56, 'vamsi']

In [26]:
#To sort the elements in the list in ascending order 
v.sort()#function that is used to sort the list in ascending order.
v

[1, 2, 4, 5, 7, 8, 23, 25, 55]

# 2. Write a Python program to do in the tuples.

i)Manipulate using tuples.

ii) To add new elements to the end of the tuples

ii)To reverse elements in the list

iv) To display the elements of the same tuple multiple times.

v)To concatenate two tuples

vi) To sort the elements in the list in ascending order.

In [37]:
vamsi=('v',4,'krish',5)

In [41]:
#i)Manipulate using tuples.
#we cannot manipulate tuple directly so, we have to use type casting or 
#create a new tuple and perform operations like concatination,slicing
j=(8,5,9,25)  #created a new tuple
l=list(j)  #type casting tuple into list
print(l)
krishna=(45,98,75,85) #created a new tuple
print("concatinated tuple:",vamsi+krishna) 
print("slicing a tuple",krishna[::2])# using slice operater to print elements with 2 increment

[8, 5, 9, 25]
concatinated tuple: ('v', 4, 'krish', 5, 45, 98, 75, 85)
slicing a tuple (45, 75)

In [47]:
#ii)To reverse elements in the list
print("Achiving reverse of a tuple with slice operater",krishna[::-1])

Achiving reverse of a tuple with slice operater (85, 75, 98, 45)

In [49]:
#iv) To display the elements of the same tuple multiple times.
print("Displaying the elements of the same tuple multiple times\n",krishna*5)

Displaying the elements of the same tuple multiple times
 (45, 98, 75, 85, 45, 98, 75, 85, 45, 98, 75, 85, 45, 98, 75, 85, 45, 98, 75, 85)

In [62]:
#v)To concatenate two tuples
a=('v','a','m')
b=('s','i')
c=a+b
print("concatenating two tuples\n",c)

concatenating two tuples
 ('v', 'a', 'm', 's', 'i')

In [72]:
#vi) To sort the elements in the list in ascending order.
d=list(c)
d.sort()
print(d)

['a', 'i', 'm', 's', 'v']

# 3. Write a python program to implement the following using list.

i)Create a list with integers (minimum 10 numbers)

ii) How to display the last number in the list

iii)Command for displaying the values from the list [0:4]

iv)Command for displaying the values from the list [2:]

v)Command for displaying the values from the list [:6]

In [73]:
# i)Create a list with integers (minimum 10 numbers)
ven=[1,5,8,4,7,9,2,3,10,18,91]

In [81]:
# ii) How to display the last number in the list
print(ven[-1]) #using slice operater we can achive it

91

In [82]:
# iii)Command for displaying the values from the list [0:4]
print(ven[0:4])  #it contains starting and ending index

[1, 5, 8, 4]

In [83]:
# iv)Command for displaying the values from the list [2:]
print(ven[2:])  #it contains starting index

[8, 4, 7, 9, 2, 3, 10, 18, 91]

In [84]:
# v)Command for displaying the values from the list [:6]
print(ven[:6])  #it contains ending index

[1, 5, 8, 4, 7, 9]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)

i)To display the elements 10 and 50 from tuple1

ii)To display the length of a tuple1.

iii)To find the minimum element from tuple1

iv)To add all elements in the tuple1.

v)To display the same tuple1 multiple times

In [86]:
# 4. Write a Python program: tuple1 = (10,50,20,40,30)
tuple1 = (10,50,20,40,30)

In [88]:
# i)To display the elements 10 and 50 from tuple1
print(tuple1[:2])

(10, 50)

In [91]:
# ii)To display the length of a tuple1.
print(len(tuple1))  #Achived it by using len function

5

In [92]:
# iii)To find the minimum element from tuple1
print(min(tuple1))  #Achived it by using min function

10

In [93]:
# iv)To add all elements in the tuple1.
print(sum(tuple1))  #Achived it by using sum function

150

In [94]:
# v)To display the same tuple1 multiple times
print(tuple1*3)

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a Python program

i)To calculate the length of a string

ii)To reverse words in a string

iii)To display the same string multiple times

iv)To concatenate two strings

v)Str1" South India", using string slicing to display "India"

In [115]:
k='vamsi krishna'
# To calculate the length of a string

print(len(k))

13

In [116]:
# ii)To reverse words in a string
r=k.split() # it splits the string where it founds "space->defualt"
print(" ".join(r[::-1]))# here i used join operater to print the string which is in list format due to split operation

krishna vamsi

In [118]:
# iii)To display the same string multiple times
print((k+' ')*5) #just to view clearly i added space for every string and achived it by using *

vamsi krishna vamsi krishna vamsi krishna vamsi krishna vamsi krishna

In [121]:
# iv)To concatenate two strings
c=' Nalluri venkata'  #new string
print(c+' '+k) #concatination with space in between

 Nalluri venkata vamsi krishna

In [129]:
# v)Str1" South India", using string slicing to display "India"
str1=" South India"
print(str1.split()[-1])  # it splits the string where it founds "space->defualt"

India

# 6. Perform the following

i)Creating the Dictionary.

ii)Accessing values and keys in the Dictionary.

iii)Updating the dictionary using a function.

iv)Clear and delete the dictionary values.

In [179]:
# i)Creating the Dictionary.
dic={1:'vamsi',2:'nalluri','krishna':"venkat"}

In [176]:
# ii)Accessing values and keys in the Dictionary.
print("Acsessing values through keys: ",dic[1])
l=list(dic.keys()) #here we did type casting and also used "keys" function
print("Acsessing keys through values: ",l)

Acsessing values through keys:  vamsi
Acsessing keys through values:  [1, 2, 'krishna']

In [177]:
# iii)Updating the dictionary using a function.
new_key=input("Enter a new key ")
new_value=input("Enter a new value ")
def updating_dic(key,value):
    dic[key]=value
    return dic
print("Here is new updated dictionary\n",updating_dic(new_key,new_value))

Enter a new key babu
Enter a new value kiran
Here is new updated dictionary
 {1: 'vamsi', 2: 'nalluri', 'krishna': 'venkat', 'babu': 'kiran'}

In [182]:
# iv)Clear and delete the dictionary values.
print(dic)
dic.clear()
print("Results of all clear values in the dictionary:\n",dic)
del dic

{1: 'vamsi', 2: 'nalluri', 'krishna': 'venkat'}
Results of all clear values in the dictionary:
 {}

In [183]:
print(dic) #it shows an error because this dictionary is already deleted before this step

NameError: name 'dic' is not defined

# 7.Python program to insert a number to any position in a list.

In [202]:
l=[2,5,8,7,56,112,369]
new_index=int(input("Enter the index value where you want to add:  "))
if 0<=new_index<=len(l):
    new_value=input("Enter a new value   ")
    l.insert(new_index,new_value) 
else:
    print("Please Enter a value in between 0 and ",len(l),'\n Insertion failed')
print("After successful insertion",l)

Enter the index value where you want to add:  2
Enter a new value   2222
After successful insertion [2, 5, '2222', 8, 7, 56, 112, 369]

# 8. Python program to delete an element from a list by index

In [211]:
l=[10,20,30,40,50,60]
a=int(input("Enter the index number to delete value: "))
if 0<=a<=len(l):
    print("Deletion successful at index ",a,": ",l.pop(a))
else:
    print("Please Enter a value in between 0 and ",len(l),'\n Deletion failed')

Enter the index number to delete value: 2
deletion successful at index  2 :  30

# 9 Write a program to display a number from 1 to 100.

In [220]:
for i in range(1,101):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10. Write a Python program to find the sum of all items in a tuple.

In [223]:
vamsi=input("Enter tuple values with space speration:\n")
krishna=tuple(map(int,vamsi.split()))
print(sum(krishna))

Enter tuple values with space speration:
1 2 3
6

# 12.A list of words is given. Find the words from the list that have their second character in uppercase
ls=['hello','Dear','hOw','ARe','You']

In [225]:
ls=['hello','Dear','hOw','ARe','You']
for i in ls:
    if i[1].isupper():
        print(i)

hOw
ARe

# CONTROL STRUCTURES
1. Write a python program to find the first N Prime numbers.

In [260]:
n=int(input("Enter N value: "))
print("Prime numbers are: ")
for i in range(2,n+1):
    c=True
    for j in range(2,int(i**0.5)+1):
        if (i%j==0):
            c=False
            break
    if c:
        print(i,end=" ")

Enter N value: 16
Prime numbers are:
2 3 5 7 11 13

# 2 Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary

In [264]:
basic_salary=float(input("Enter Basic_Salary : "))
hra=float(input("Enter HRA : "))
ta=float(input("Enter TA : "))
da=float(input("Enter DA : "))
gross=basic_salary+hra+ta+da
tax=0.10*gross
print("NET SALARY is : ",(gross-tax))

Enter Basic_Salary : 20000
Enter HRA : 1000
Enter TA : 1500
Enter DA : 500
NET SALARY is :  20700.0

# 3. Write a python program to search for a string in the given list.

In [274]:
l1=input("Enter the list with space separated values: ")
l=l1.split()
n=input("Enter the string that you need to search in list: ")
l = [str(i) for i in l]
if n in l:
    print("YES the element found.")
else:
    print("Element not found.")

Enter the list with space separated values: 1 vamsi 45 krish 5
Enter the string that you need to search in list: 56
Element not found.

# 4. Write a Python function that accepts a string and calculates the number of upper case letters and lower-case letters.

In [286]:
n=input("Enter the string: ")
up,low=0,0
for i in n:
    if i.isupper():
        up+=1
    elif i.islower():
        low+=1
print("UPPER case letters count is: ",up,"\nLower case letters count is: ",low)

Enter the string: hai im vamsi VAMSI KRISHNA
UPPER case letters count is:  12
Lower case letters count is:  10

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [287]:
o,e=0,0
for i in range(12,38):
    if i%2==0:
        e+=i
    else:
        o+=i
print("Sum of ODD numbers that fall between 12 and 37 : ",o,"\nSum of EVEN numbers that fall between 12 and 37 : ",e)

Sum of ODD numbers that fall between 12 and 37 :  325
Sum of EVEN numbers that fall between 12 and 37 :  312

# 6. Write a python Program to print the table of any number.

In [296]:
n=int(input("Enter the table number"))
print("Here you go with ",n," Table:")
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter the table number5
Here you go with  5  Table:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# 7. Write a Python program to sum the first 10 prime numbers.

In [312]:
sum1=0
for i in range(2,11):
    c=True
    for j in range(2,int(i**0.5)+1):
        if i%j==0:
            c=False
            break
    if c:
        sum1+=i
print("Sum the first 10 prime numbers is :",sum1)

Sum the first 10 prime numbers is : 17

# 8. Write a python program to implement arithmetic operations using nested if statement.

In [318]:
#performing a+b when a and b are not null
a=9
b=5
c=2
if a and b :
    if c and a:
        print("Nested if arithmetic operations(addition) a+b= ",a+b)
        print("Nested if arithmetic operations(subtraction) a-b= ",a-b)
        print("Nested if arithmetic operations(multiplication) a*b= ",a*b)
        print("Nested if arithmetic operations(Division) a/b= ",a/b)
        print("Nested if arithmetic operations(Modulo Division) a%b= ",a%b)
        print("Nested if arithmetic operations(Floar Division) a//b= ",a//b)
        print("Nested if arithmetic operations(Exponentiation i.e; a^b) a**b= ",a**b)

Nested if arithmetic operations(addition) a+b=  14
Nested if arithmetic operations(subtraction) a-b=  4
Nested if arithmetic operations(multiplication) a*b=  45
Nested if arithmetic operations(Division) a/b=  1.8
Nested if arithmetic operations(Modulo Division) a%b=  4
Nested if arithmetic operations(Floar Division) a//b=  1
Nested if arithmetic operations(Exponentiation i.e; a^b) a**b=  59049

# 9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [328]:
c=float(input("Enter the temperature in Celsius: "))
f=(c*9/5)+32
print("Fahrenheit Temperature is: ",f)

Enter the temperature in Celsius: 26
Fahrenheit Temperature is:  78.8

# 10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function

In [342]:
l=input("Enter a list with space separated integer values : ")
l1=l.split()
max1=int(l1[0])
min1=int(l1[0])
for i in range(len(l1)):
    a=int(l1[i])
    if a>max1:
        max1=a
    elif a<min1:
        min1=a  
print("Maximum number in a list ",max1,"\nMinimum number in the lsit", min1)

Enter a list with space separated integer values : 1 2 3 5 9 6
Maximum number in a list  9
Minimum number in the lsit 1

# 11. Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

In [345]:
No_of_days=30
No_of_hours=24
No_of_minutes=60
NO_of_seconds=60
a=No_of_days*No_of_hours*No_of_minutes*NO_of_seconds
print("Number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute is :",a)

Number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute is : 2592000

# 12. Write a program in python to print out the number of seconds in a year.

In [351]:
No_of_standard_year_days=365
No_of_leap_year_days=366
No_of_hours=24
No_of_minutes=60
NO_of_seconds=60 
a=No_of_standard_year_days * No_of_hours * No_of_minutes * NO_of_seconds
b=No_of_leap_year_days*No_of_hours*No_of_minutes*NO_of_seconds
print("The number of seconds in a standard year is :",a)
print("The number of seconds in a leap year is :",b)

The number of seconds in a standard year is : 31536000
The number of seconds in a leap year is : 31622400

# 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [361]:
distance=414
speed=150
print((distance/speed),"Hours OR\n",((distance/speed)*60),"Minutes")

2.76 Hours OR
 165.6 Minutes

# 14. Write a python program that defines a variable called days in each school year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days in each school year 192

In [365]:
days_in_year=192
starting=7
ending=11
hours=6
no_of_years=ending-starting+1
print("Hours psent in school is:",no_of_years*days_in_year*hours)

Hours psent in school is: 5760


# 15 if the age of Ram Sam and Khan are input through the keyboard, write a python program to determine the eldest and youngest of the three

In [367]:
ram_age=int(input("Enter Age of RAM:"))
sam_age=int(input("Enter Age of SAM:"))
khan_age=int(input("Enter Age of KHAN:"))
print("ELDEST of the three is RAM",max(ram_age,sam_age,khan_age))
print("YOUNGEST of the three is KHAN",min(ram_age,sam_age,khan_age))

Enter Age of RAM:25
Enter Age of SAM:22
Enter Age of KHAN:12
ELDEST of the three is RAM 25
YOUNGEST of the three is KHAN 12

# 16. Write a python program to rotate a list by right is times with and without slicing technique.

In [394]:
abc=input("Enter the list with space separated values : ")
m=abc.split()
n=int(input("Enter the number to rotate list:"))
print("\nUsing slice operater",m[-n:]+m[:-n])
a=len(m)
n=n%a
new_list=[0]*a
for i in range(a):
    rotating_index_value=(i+n)%a
    new_list[rotating_index_value]=m[i]
print("Without Using slice operater",new_list)

Enter the list with space separated values : 1 2 3 4 5
Enter the number to rotate list:2

Using slice operater ['4', '5', '1', '2', '3']
Without Using slice operater ['4', '5', '1', '2', '3']

# 17.Python program to print the patterns given below:

In [429]:
n=int(input("Enter the value : "))
for i in range(n):
    b=1
    for j in range(i+1):
        if j==0:
            print(b,end=' ')
        else:
            b=b * (i - j + 1) // j
            print(b,end=" ")
    print("\n")

Enter the value : 6
1

1 1

1 2 1

1 3 3 1

1 4 6 4 1

1 5 10 10 5 1

In [427]:
n=int(input("Enter the value : "))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print("\n")

Enter the value : 10
*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * * * *

* * * * * * * * *

* * * * * * * * * *

In [415]:
n=int(input("Enter the value : "))
for i in range(n):
    a=n-i
    print(" "*a,end=' ')
    for j in range(i+1):
        print("*",end=" ")
    print("\n")

Enter the value : 15
                *

               * *

              * * *

             * * * *

            * * * * *

           * * * * * *

          * * * * * * *

         * * * * * * * *

        * * * * * * * * *

       * * * * * * * * * *

      * * * * * * * * * * *

     * * * * * * * * * * * *

    * * * * * * * * * * * * *

   * * * * * * * * * * * * * *

  * * * * * * * * * * * * * * *

In [417]:
n='Python'
for i in range(len(n)):
    for j in range(i+1):
        print(n[j],end=" ")
    print("\n")

P

P y

P y t

P y t h

P y t h o

P y t h o n